<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.tum.in.tumcampus"
    android:versionCode="35"
    android:versionName="1.1.5"
    android:installLocation="auto" >

    <uses-sdk
        android:minSdkVersion="8" 
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application 
        android:allowBackup="true"
        android:description="@string/app_short_description"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:logo="@drawable/ic_launcher"
        android:theme="@style/CustomSherlockHomeIcon" >
        <provider
            android:name="de.tum.in.tumcampus.auxiliary.RoomFinderSuggestionProvider"
            android:authorities="com.example.RoomFinderSuggestionProvider" />

        <activity
            android:name="de.tum.in.tumcampus.activities.StartupActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.activities.StartActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.activities.generic.MockActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.activities.generic.MockSlidingTabActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.activities.NewsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/tum_news" >
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.activities.PlansActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/plans" >
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.activities.PlansDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/plans" >
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.activities.GradeChartActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/my_grades" >
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.activities.GradesActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/my_grades" >
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.activities.UserPreferencesActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/settings" >
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.activities.GalleryActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/gallery" >
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.activities.GalleryDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/gallery" >
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.activities.CurriculaActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/study_plans" >
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.activities.CurriculaDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/study_plans" >
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.activities.OpeningHoursDetailActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/opening_hours" >
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.activities.OpeningHoursListActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/opening_hours" >
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.activities.TransportationActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/mvv" >
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.activities.LecturesActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/my_lectures" >
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.activities.LecturesAppointmentsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/lectures_appointments" >
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.activities.LecturesDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/lectures_information" >
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.activities.LecturesPersonalActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/my_lectures" >
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.activities.LecturesSearchActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/lecture_search" >
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.activities.FeedsDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/rss_feeds" >
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.activities.FeedsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/rss_feeds" >
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.activities.CafeteriaActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/cafeterias" >
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.activities.CafeteriaDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/cafeterias" >
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.activities.PersonsSearchActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/person_search" >
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.activities.PersonsDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/person_information" >
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.activities.RoomfinderActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/roomfinder" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/roomfinder_searchable" />
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.activities.RoomFinderDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/roomfinder" >
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.activities.TuitionFeesActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/tuition_fees" >
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.activities.InformationActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/information" >
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.activities.EventsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/events" >
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.activities.EventsDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/event_details" >
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.activities.OrganisationActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/organisations" >
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.activities.OrganisationDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/organisation_details" >
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.activities.wizzard.WizNavStartActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.activities.wizzard.WizNavCheckTokenActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.activities.wizzard.WizNavDoneActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.activities.wizzard.WizNavExtrasActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.activities.LectureScheduleActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/lecture_schedule" >
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.activities.CalendarActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/schedule" >
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.activities.ImportantNewsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/info_title_str" >
        </activity>
        <activity
            android:name="de.tum.in.tumcampus.auxiliary.DemoModeStartActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>

        <service
            android:name="de.tum.in.tumcampus.services.DownloadService"
            android:exported="false" />
        <service
            android:name="de.tum.in.tumcampus.services.ImportService"
            android:exported="false" />
        <service
            android:name="de.tum.in.tumcampus.services.SilenceService"
            android:exported="false" />
        <service
            android:name="de.tum.in.tumcampus.services.BackgroundService"
            android:exported="false" />
    </application>

</manifest>