<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.tum.in.tumcampusapp">

    <uses-sdk tools:overrideLibrary="android.support.test.uiautomator.v18" />

    <!-- For espresso testing purposes, those permissions are not needed in live builds -->
    <uses-permission android:name="android.permission.SET_ANIMATION_SCALE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
</manifest>