<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="de.tum.in.tumcampusapp"
          android:installLocation="auto"
          tools:ignore="UnusedAttribute">

    <!-- Standard access rights -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- For google calendar synchronisation -->
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>

    <!-- To add searched person to contact list -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>

    <!-- For location services -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- For automatically setting up eduroam -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <!-- Allow vibration for chat messages -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- As AndroidLint suggests: We do not necessarily need camera access -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false"/>

    <!-- For QR code scanner -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- To start the Silence and Background service on Boot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!-- To potentially change the Do Not Disturb mode -->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>

    <application
        android:allowBackup="true"
        android:description="@string/app_short_description"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/tum_logo"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <uses-library android:name="android.test.runner"/>

        <receiver android:name=".services.ScanResultsAvailableReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.SCAN_RESULTS"/>
            </intent-filter>
        </receiver>

        <provider
            android:name=".auxiliary.RoomFinderSuggestionProvider"
            android:authorities="de.tum.in.tumcampusapp.auxiliary.RoomFinderSuggestionProvider"
            android:exported="false"/>
        <provider
            android:name=".auxiliary.PersonSearchSuggestionProvider"
            android:authorities="de.tum.in.tumcampusapp.auxiliary.PersonSearchSuggestionProvider"
            android:exported="false"/>
        <provider
            android:name=".auxiliary.MVVStationSuggestionProvider"
            android:authorities="de.tum.in.tumcampusapp.auxiliary.MVVStationSuggestionProvider"
            android:exported="false"/>
        <provider
            android:name=".auxiliary.LectureSearchSuggestionProvider"
            android:authorities="de.tum.in.tumcampusapp.auxiliary.LectureSearchSuggestionProvider"
            android:exported="false"/>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="de.tum.in.tumcampusapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider"/>
        </provider>

        <activity
            android:name=".activities.StartupActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppThemeStartup">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activities.NewsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/news"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tum.in.tumcampusapp.activities.MainActivity"/>
        </activity>
        <activity
            android:name=".activities.PlansActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/plans"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tum.in.tumcampusapp.activities.MainActivity"/>
        </activity>
        <activity
            android:name=".activities.PlansDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/plans"
            android:parentActivityName=".activities.PlansActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tum.in.tumcampusapp.activities.PlansActivity"/>
        </activity>
        <activity
            android:name=".activities.GradesActivity"
            android:label="@string/empty_string"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tum.in.tumcampusapp.activities.MainActivity"/>
        </activity>
        <activity
            android:name=".activities.UserPreferencesActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/settings"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tum.in.tumcampusapp.activities.MainActivity"/>
        </activity>
        <activity
            android:name=".activities.CurriculaActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/study_plans"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tum.in.tumcampusapp.activities.MainActivity"/>
        </activity>
        <activity
            android:name=".activities.CurriculaDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/study_plans"
            android:parentActivityName=".activities.CurriculaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tum.in.tumcampusapp.activities.CurriculaActivity"/>
        </activity>
        <activity
            android:name=".activities.OpeningHoursDetailActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/opening_hours"
            android:parentActivityName=".activities.OpeningHoursListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tum.in.tumcampusapp.activities.OpeningHoursListActivity"/>
        </activity>
        <activity
            android:name=".activities.SurveyActivity"
            android:configChanges="orientation|screenSize"
            android:label="Survey"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SurveyActivity"/>
        </activity>
        <activity
            android:name=".activities.OpeningHoursListActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/opening_hours"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tum.in.tumcampusapp.activities.MainActivity"/>
        </activity>
        <activity
            android:name=".activities.TransportationActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/mvv"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_mvv"/>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tum.in.tumcampusapp.activities.MainActivity"/>
        </activity>
        <activity
            android:name=".activities.TransportationDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/mvv"
            android:parentActivityName=".activities.TransportationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tum.in.tumcampusapp.activities.TransportationActivity"/>
        </activity>
        <activity
            android:name=".activities.LecturesAppointmentsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/lectures_appointments"/>
        <activity
            android:name=".activities.LecturesDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/lectures_information"
            android:parentActivityName=".activities.LecturesPersonalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tum.in.tumcampusapp.activities.LecturesPersonalActivity"/>
        </activity>
        <activity
            android:name=".activities.LecturesPersonalActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/my_lectures"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_lectures"/>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tum.in.tumcampusapp.activities.MainActivity"/>
        </activity>
        <activity
            android:name=".activities.CafeteriaActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/empty_string"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tum.in.tumcampusapp.activities.MainActivity"/>
        </activity>
        <activity
            android:name=".activities.CafeteriaNotificationSettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/cafeteria_notification_settings"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.CafeteriaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tum.in.tumcampusapp.activities.CafeteriaActivity"/>
        </activity>
        <activity
            android:name=".activities.KinoActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/kino"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tum.in.tumcampusapp.activities.MainActivity"/>
        </activity>
        <activity
            android:name=".activities.PersonsSearchActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/person_search"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_persons"/>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tum.in.tumcampusapp.activities.MainActivity"/>
        </activity>
        <activity
            android:name=".activities.PersonsDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/person_information"
            android:parentActivityName=".activities.PersonsSearchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tum.in.tumcampusapp.activities.PersonsSearchActivity"/>
        </activity>
        <activity
            android:name=".activities.RoomFinderActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/roomfinder"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tum.in.tumcampusapp.activities.MainActivity"/>

            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_rooms"/>
        </activity>
        <activity
            android:name=".activities.RoomFinderDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/roomfinder"
            android:parentActivityName=".activities.RoomFinderActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tum.in.tumcampusapp.activities.RoomFinderActivity"/>
        </activity>
        <activity
            android:name=".activities.StudyRoomsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/study_rooms"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tum.in.tumcampusapp.activities.MainActivity"/>
        </activity>
        <activity
            android:name=".activities.TuitionFeesActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/tuition_fees"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tum.in.tumcampusapp.activities.MainActivity"/>
        </activity>
        <activity
            android:name=".activities.InformationActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/information"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.UserPreferencesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tum.in.tumcampusapp.activities.UserPreferencesActivity"/>
        </activity>
        <activity
            android:name=".activities.SetupEduroamActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/setup_eduroam"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tum.in.tumcampusapp.activities.MainActivity"/>
        </activity>
        <activity
            android:name=".activities.wizard.WizNavStartActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"/>
        <activity
            android:name=".activities.wizard.WizNavCheckTokenActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"/>
        <activity
            android:name=".activities.wizard.WizNavExtrasActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activities.CalendarActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/schedule"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tum.in.tumcampusapp.activities.MainActivity"/>
        </activity>
        <activity
            android:name=".activities.ChatRoomsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/my_chat_rooms"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tum.in.tumcampusapp.activities.MainActivity"/>
        </activity>
        <activity
            android:name=".activities.ChatActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/my_chat_rooms"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.ChatRoomsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tum.in.tumcampusapp.activities.ChatRoomsActivity"/>
        </activity>
        <activity
            android:name=".activities.JoinRoomScanActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.ChatRoomsActivity"
            android:theme="@style/AppThemeFullscreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tum.in.tumcampusapp.activities.ChatRoomsActivity"/>
        </activity>
        <activity
            android:name=".activities.AlarmActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppThemeFullscreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tum.in.tumcampusapp.activities.MainActivity"/>
        </activity>
        <activity
            android:name=".activities.BarrierFreeInfoActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/barrier_free"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity">
        </activity>
        <activity
            android:name=".activities.BarrierFreeContactActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/contact_person"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.BarrierFreeInfoActivity">
        </activity>
        <activity
            android:name=".activities.BarrierFreeFacilitiesActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/facilities"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.BarrierFreeInfoActivity">
        </activity>
        <activity
            android:name=".activities.BarrierFreeMoreInfoActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/more_info"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.BarrierFreeInfoActivity">
        </activity>
        <activity
            android:name=".activities.FeedbackActivity"
            android:label="@string/feedback"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activities.FeedbackActivity">
        </activity>

        <!-- receiver for the mensaWidget -->
        <receiver
            android:name=".widgets.MensaWidget"
            android:label="@string/mensa_widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/mensa_widget_info"/>
        </receiver>

        <service
            android:name=".services.MensaWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <!-- receiver for the MVVWidget -->

        <receiver
            android:name=".widgets.MVVWidget"
            android:label="@string/mvv_widget">>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="de.tum.in.newtumcampus.intent.action.MVV_WIDGET_FORCE_RELOAD"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/mvv_widget_info"/>
        </receiver>

        <service
            android:name=".widgets.MVVWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <activity
            android:name=".widgets.MVVWidgetConfigureActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/mvv_widget_select_station"
            android:launchMode="singleTop"
            android:allowTaskReparenting="false"
            android:taskAffinity="">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_mvv"/>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <!-- receiver for the CardWidget -->

        <receiver android:name=".widgets.CardsWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/cards_widget_info"/>
        </receiver>

        <service
            android:name=".widgets.CardsWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <activity android:name=".widgets.CardsWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <!-- receiver for the TimetableWidget -->

        <receiver
            android:name=".widgets.TimetableWidget"
            android:label="@string/timetable_widget">>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/timetable_widget_info"/>
        </receiver>

        <service
            android:name=".widgets.TimetableWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <activity
            android:name=".widgets.TimetableWidgetConfigureActivity"
            android:allowTaskReparenting="false"
            android:configChanges="orientation|screenSize"
            android:label="@string/timetable_widget_select_lectures"
            android:launchMode="singleTop"
            android:taskAffinity="">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <!-- Used to reset Alarm when device has been restarted -->
        <receiver android:name=".services.StartSyncReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>

        <!-- Used for generating the wifi-heatmap data -->
        <receiver android:name=".services.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
            </intent-filter>
        </receiver>

        <!-- Used to set Notification for favoriteDish -->
        <receiver android:name=".services.FavoriteDishAlarmScheduler"/>

        <service
            android:name=".services.DownloadService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
        <service
            android:name=".services.SilenceService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
        <service
            android:name=".services.SendMessageService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
        <service
            android:name=".services.SendWifiMeasurementService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
        <service
            android:name=".services.BackgroundService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
        <service
            android:name=".services.FillCacheService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
        <service
            android:name=".services.ScanResultsAvailableReceiver$NeverShowAgain"
            android:exported="false"/>
        <service
            android:name=".managers.CalendarManager$QueryLocationsService"
            android:exported="false"/>
        <service
            android:name=".services.GcmReceiverService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".services.GcmIdentificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service android:name=".services.GeofencingRegistrationService"
                 android:permission="android.permission.BIND_JOB_SERVICE"/>

        <receiver android:name=".services.GeofencingUpdateReceiver"/>

        <receiver android:name=".services.GeofencingStartupReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.location.MODE_CHANGED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="android.location.PROVIDERS_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>