name: CI

on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master, actions ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Check dependencies
        run: ./gradlew dependencies

      - name: Build
        run: ./gradlew build

      - name: Test
        run: ./gradlew test

      - name: Lint Check
        run: ./gradlew ktlintCheck